.routeContainer {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  column-gap: 10px;
  border: solid 3px blue;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}

.navBarColumn {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
}

.navBar{
  flex: 1 1 auto;
}

.dashboardColumn {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 12;
}

.chowRankingContainer {
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  flex: 1 1 auto;
}

.chowListColumn {
  display: flex;
  flex-direction: column;
  grid-column-start: 12;
  grid-column-end: 19;
}

.chowList{
  flex: 1 1 auto;
}