.authColumn {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 6;
}

.auth {
  flex: 1 1 auto;
}

.imageColumn {
  display: flex;
  grid-column-start: 6;
  grid-column-end: 19;
}

.image {
  flex: 1 1 auto;
}